.ui-icon {
  --ui-icon-size: 1rem;
  width: var(--ui-icon-size);
  height: var(--ui-icon-size);
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask-image: var(--ui-icon-mask);
  mask-image: var(--ui-icon-mask);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
